.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background: url(./././images/edit-button.svg) no-repeat center;
    margin: 75px 0 0 auto;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        margin-top: 36px;
        width: 100%;
    }
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}
