.popup__save-button {
    width: 358px;
    height: 50px;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 26px;
    background-color: #E5E5E5;
    cursor: default;
    border: 1px solid #000000;
    border-radius: 2px;
    opacity: 0.2;
}

@media (max-width: 767px) {
    .popup__save-button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 23px;
    }
}
