.popup__save-button_valid {
    background-color: #E5E5E5;
    color: #000000;
    border: 1px solid #000000;
    opacity: 0.2;
    cursor: default;
    
}

@media (max-width: 767px) {
    .popup__save-button_valid {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 23px;
    }
}

.popup__save-button_valid:hover {
    opacity: 0.8;
}